body {
	margin: 50px 0 0 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	text-align: center;
	font-weight: bold;
}

.heading {
	display: block;
	width: 400px;
	margin: 10px auto;
	background-color: #fff;
	border: solid 20px #fff;
	border-radius: 30px;
	font-size: 20px;
}

.map {
	display: block;
	width: 400px;
	height: 400px;
	margin: 0 auto;
	border: solid 20px #fff;
	border-radius: 30px;
}

.distance {
	display: block;
	width: 400px;
	background-color: #fff;
	border: solid 20px #fff;
	margin: 10px auto;
	border-radius: 30px;
	font-size: 15px;
}
